{% extends 'base.html' %}
{% load static %}

{% block title %} Cat Cafe Athens Storefront - {{ title }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="beige-box pb-4">
        <h1 class="mb-4">{{ title }}</h1>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="row g-3">
                <div class="col-md-6">
                    <label class="form-label">Name</label>
                    {{ form.name }}
                    {{ form.name.errors }}
                </div>

                <div class="col-md-6">
                    <label class="form-label">Slug</label>
                    {{ form.slug }}
                    {{ form.slug.errors }}
                </div>

                <div class="col-md-6">
                    <label class="form-label">Price</label>
                    {{ form.price }}
                    {{ form.price.errors }}
                </div>

                <div class="col-md-6">
                    <label class="form-label">Category</label>
                    {{ form.category }}
                    {{ form.category.errors }}
                </div>

                <div class="col-md-6">
                    <label class="form-label">Subcategory</label>
                    {{ form.subcategory }}
                    {{ form.subcategory.errors }}
                </div>

                <div class="col-12">
                    <label class="form-label">Short Description (200 characters)</label>
                    {{ form.short_description }}
                    {{ form.short_description.errors }}
                </div>

                <div class="col-12">
                    <label class="form-label">Image</label>
                    {{ form.image }}
                    {{ form.image.errors }}
                </div>

                <div class="col-12">
                    <label class="form-label">Tags (press shift to select multiple)</label>
                    {{ form.tags }}
                    {{ form.tags.errors }}
                </div>

                <div class="col-12 form-check ms-2">
                    {{ form.is_available }}
                    <label class="form-check-label">Available</label>
                    {{ form.is_available.errors }}
                </div>

                <div class="col-12 d-flex justify-content-end gap-2 mt-4">
                    <a href="{% url 'catalog:manage_items' %}" class="btn btn-danger">
                        Cancel
                    </a>

                    <button type="submit" class="btn btn-dark">
                        {{ button_text }}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}